* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.mainbox {
    background-color: blue;
    padding: 30px;
    margin: 45px;
    border-radius: 10px;
    width: 300px;
    color: white;
    text-align: center;
}

h1 {
    padding-bottom: 25px;
}

.inputBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
}

button#addTask {
    background-color: #f34242;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121369;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

button.deleteBtn {
    background-color: #f7ca4c;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}
